<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="">
    <h3>Tu pedido ha sido enviado a {{ user.username }}</h3>
    <p>El costo total del pedido fue de {{ orden.total }} y fue enviado a la direccion {{ orden.shipping_address.line1 }}</p>
</div>
</body>
</html>