{% extends 'base.html' %}
{% block breadcrumb %}
    {% include 'order/snippets/breadcrumb.html' %}
{% endblock %}
{% block content %}
    <div class="col-8">
        <div class="h3">
            Revisa tu pedido
        </div>
        <div class="card">
            <div class="card-body">
                {% for product in cart.products.all %}
                    {% include 'order/snippets/product.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col">
        {% url 'orders:address' as next_url %}
        {% include 'order/snippets/resume.html' with next_url=next_url %}
    </div>
{% endblock %}